.App {
  text-align: center;
}

.Navbar{
  text-align: center;
}

.Navbar a {
  color: #61dafb;
}

.Navbar a:hover {
  color: #025e77;
}

body{
  background-color: #282c34;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white
}

.App-link {
  color: #61dafb;
}

.Counter{
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}

.Counter:hover{
  background-color: rgb(80, 0, 80);
  cursor: pointer;
}
